:root {
  --bs-primary-rgb: 219, 159, 106;
  --bs-dark-rgb: 18, 16, 12;
  --bs-secondary-rgb: 42, 39, 34;
  --bs-link-color: 18, 16, 12;
}


body {
  font-family: "Raleway", Helvetica, sans-serif;
}

.display-4, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Sancreek", sans-serif;
}

.h2, h2 {
  font-size: calc(1.8rem + .9vw);
}

main {
  margin-top: 142px;
}

.btn-primary {
  --bs-btn-bg: rgba(var(--bs-primary-rgb));
  --bs-btn-border-color: 0, 0, 0;
  --bs-btn-hover-bg: rgba(var(--bs-dark-rgb), 0.5);
  --bs-btn-color: rgba(var(--bs-dark-rgb));
  --bs-btn-font-weight: bold;
}

.nav-pills {
  --bs-nav-pills-link-active-color: #12100C;
  --bs-nav-pills-link-active-bg: #DB9F6A;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url('../images/navtogglericon.svg');
  background-size: contain;
}

.accordion {
  --bs-accordion-bg: none;
  --bs-accordion-color: white;
  --bs-accordion-border-color: none;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;

  &-body {
    border-bottom: rgba(255, 255, 255, 0.2) solid 2px;
  }

  &-button {
    color: white;

    &:not(.collapsed) {
      color: white;
      background-color: var(--bs-primary-rgb);
      box-shadow: none;
    }

    &.collapsed {
      border-bottom: rgba(255, 255, 255, 0.2) solid 2px;
    }

    &:focus {
      box-shadow: none;
    }

    &.collapsed::after {
      background-image: url('../images/add.svg');
    }

    &:not(.collapsed)::after {
      background-image: url('../images/minus.svg');
    }
  }
}

.navbar > .rounded {
  border-radius: 24px !important;
}

.carousel {
  &-caption {
    position: static;
  }

  &-inner {
    min-height: 220px;
  }

  &-control-next {
    right: -10vw;
    min-width: 32px;
    opacity: 100;
    &-icon {
      background-size: 60% 60%;
    }
  }

  &-control-prev {
    left: -10vw;
    min-width: 32px;
    opacity: 100;
    &-icon {
      background-size: 60% 60%;
    }
  }

  &.rounded {
    border-radius: 24px !important;
  }
}

@media (max-width: 768px) {
  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}